:root{
    font-size: 15px;
}
body{
    padding: 2rem 1rem;
    background: rgba(240, 240, 240, .4);
}
body,
#pass_list div {
    font-size: 2rem;
    line-height: 3.5rem;
    margin-bottom: .6rem;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 2.2rem;
    line-height: 3.5rem;
    outline: none;
    border: 1px solid #a7a7a7;
    border-radius: .5rem;
    padding: 1rem;
}